<!DOCTYPE html>
<html>

  <head>
    {% include head.html %}
    {% include scripts/mathjax.html %}
  </head>

  <body class="{% if site.navbar_fixed %}fixed-top-nav{% endif %} {% unless site.footer_fixed %}sticky-bottom-footer{% endunless %}">

    <!-- Header -->

    {% include header.html %}

    <!-- Content -->

    <div class="container-fluid mt-5" style="max-width: 100%; padding: 0 20px;">
      <div class="post">

        <header class="post-header">
          <h1 class="post-title">{{ page.title }}</h1>
          <p class="post-description">{{ page.description }}</p>
        </header>

        <article>
          {{ content }}
        </article>

      </div>
    </div>

    <!-- Footer -->

    {% include footer.html %}

  </body>

  {% include scripts/bootstrap.html %}
  {% include scripts/mansory.html %}
  {% include scripts/misc.html %}

</html>
